input {
  border:10;
}

.some-page-wrapper {
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  
  height: 400px;
  background-size: cover;
}

.green-column {
  background-color: white;
  height: 600px;
  text-align: left;
  box-shadow: 0 0 15px rgba(0,0,0,.5);
  opacity: 0.95;
  
}

.sign-in-style {
  width: 250px;
  border: none;
  border-radius: 5px;
  padding: 1%;
  background-color: #FD7F31;
  margin-top: 0%;
  margin-left: 35px;
  color: white;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;

}

.sign-in-google {
  background-color:  #FD7F31;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  padding:1%;
  width: 200px !important;
  margin-left: 35px;
  text-decoration: none;
  padding-left: 18%;
  padding-right: 20%;
}

.cfield {
    float: left;
    width: 80%;
    position: relative;
    margin-left: 30px;
    margin-bottom: 19px;
    border-bottom: 1px solid black;
    padding-top: 5%;
  }

  #forgot-container{
     margin-left: 100px; 
     padding-top: 5%;
     font-family: 'Open Sans Condensed', sans-serif;
     color: gray;
     padding-bottom: 5%;

  }
  #register{
    margin-left: 60px; 
     padding-top: 2%;
     font-family: 'Open Sans Condensed', sans-serif;
     color: gray;
     padding-bottom: 5%;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  }

  input{
    width: 250px;
    height: 30px;
  }
  input:focus{
    outline: none !important;
  }

  #logo-welcome{
    background-image: url(assets/Moodboard/Logo.png);
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 60px;
}
#agregar{
  display: none;
}
#entrar{
  display:block;
}
#page2{
  display: block;
}